@media screen and (max-width: 425px){
    /* Global */

    html {
        box-sizing: border-box;
        font-size: 100%;

    }

    body {
        margin: 0;
        font-family: "Poppins";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0px;
        text-align: left;

    }

    a {
        text-decoration: none;

    }

    li {
        list-style: none;
    }

    a:visited{
        color: rgba(37, 43, 66, 1);

    }

    a:link {
        color: rgba(37, 43, 66, 1);

    }

    a:hover {
        color: rgba(250, 74, 12, 1);

    }

    p {
        margin: 0;

    }

    h1 {
        font-family: "Poppins";
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        padding: 98px 0 98px 0;

    }

    /* Header */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo {
        position: relative;
        z-index: 1;
        display: block;
        width: 206px;
        height: 102px;
        background-image:url('../website/img/logo.svg');
        background-size: cover;

    }

    nav a {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 16px;

    }

    nav a:not(:first-child) {
        margin-left: 114px;

    }

    /* Banner */

    .bannertop {
        display: flex;
        background-image: url(../website/img/bannertop.png);
        background-size: cover;
        height: 619px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .bannertop :first-child{
        padding-top: 73px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 700;
        color: rgba(246, 246, 246, 1);

    }

    .bannertop :last-child{
        padding-top: 90px;
        font-family: "Poppins";
        font-size: 30px;
        font-weight: 700;
        color: rgba(246, 246, 246, 1);
        line-height: 80px;
        
    }

    .bannerbot {
        display: flex;
        background-image: url(../website/img/bannerbot.png);
        background-size: cover;
        height: 619px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;

    }

    .bannerbot :first-child{
        padding-top: 90px;
        font-family: "Poppins";
        font-size: 40px;
        font-weight: 700;
        color: rgba(246, 246, 246, 1);
        line-height: 80px;
        padding-top: 144px;

    }

    /* Plats Boxes */

    .menus {
        display: flex;
        flex-direction: column;

    }

    .menus .plats { 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .plats .card {
        display: flex;
        flex-direction: column;
        border: 3px solid rgba(250, 74, 12, 1);
        width: 427px;
        height: 526px;
        box-sizing: border-box;

    }

    .card img {
        width: 377px;
        height: 213px;
        align-self: center;
        padding: 33px 26px 0px 24px;

    }

    .card p {
        font-family: "Montserrat";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        text-align: left;
        padding: 24px 23px 22px 24px;

    }

    button {
        background-color: rgba(250, 74, 12, 1);
        color: rgba(255, 255, 255, 1);
        width: 177px;
        height: 68px;
        border-radius: 30px;
        border: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        align-self: flex-end;
        margin-right: 23px;

    }

    /* Article Bas page */

    h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        margin-top: 160px;
        text-align: center;
    }

    article p {
        margin-left: 55px;
        font-weight: 400;
        margin: 18px 10px 160px 10px;
        text-align: justify;

    }

    /* Footer */

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
        
    }

    ul {
        display: flex;
        justify-content: space-around;
        width: 270px;
        margin: 0;
        padding: 0;
    }

    footer p {
        color: rgba(92, 92, 92, 1);
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;

    }

    /* Helpers */

    .wrapper {
        padding: 26px 55px 26px 90px;

    }
}